{
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "importOrder": [
    "^react",
    "<THIRD_PARTY_MODULES>",
    "^@/types/(.*)$",
    "^@/constants/(.*)$",
    "^@/utils/(.*)$",
    "^@/lib/(.*)$",
    "^@/services/(.*)$",
    "^@/hooks/(.*)$",
    "^@/components/(.*)$",
    "^@/tests/(.*)$",
    "^@/mocks/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
