@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  /* brand color */
  --color-brand-main: var(--brand-main);
  --color-brand-main-50: var(--brand-main-50);
  --color-brand-main-100: var(--brand-main-100);
  --color-brand-main-200: var(--brand-main-200);
  --color-brand-main-300: var(--brand-main-300);
  --color-brand-main-400: var(--brand-main-400);
  --color-brand-main-500: var(--brand-main-500);
  --color-brand-main-600: var(--brand-main-600);
  --color-brand-main-700: var(--brand-main-700);
  --color-brand-main-800: var(--brand-main-800);
  --color-brand-main-900: var(--brand-main-900);

  --color-brand-accent: var(--brand-accent);
  --color-brand-accent-50: var(--brand-accent-50);
  --color-brand-accent-100: var(--brand-accent-100);
  --color-brand-accent-200: var(--brand-accent-200);
  --color-brand-accent-300: var(--brand-accent-300);
  --color-brand-accent-400: var(--brand-accent-400);
  --color-brand-accent-500: var(--brand-accent-500);
  --color-brand-accent-600: var(--brand-accent-600);
  --color-brand-accent-700: var(--brand-accent-700);
  --color-brand-accent-800: var(--brand-accent-800);
  --color-brand-accent-900: var(--brand-accent-900);

  /* shadcn */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(
    --font-geist-sans
  ); /* ← ここはOK、next/font 側が優先される */
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

:root {
  /* brand color */
  --brand-main-50: oklch(0.98 0.041 60.28);
  --brand-main-100: oklch(0.962 0.091 60.28);
  --brand-main-200: oklch(0.914 0.127 60.28);
  --brand-main-300: oklch(0.844 0.151 60.28);
  --brand-main-400: oklch(0.761 0.162 60.28);
  --brand-main-500: oklch(0.673 0.162 60.28);
  --brand-main-600: oklch(0.59 0.152 60.28);
  --brand-main-700: oklch(0.52 0.133 60.28);
  --brand-main-800: oklch(0.472 0.107 60.28);
  --brand-main-900: oklch(0.454 0.073 60.28);
  --brand-main: var(--brand-main-400);

  --brand-accent-50: oklch(0.98 0.043 120.74);
  --brand-accent-100: oklch(0.963 0.097 120.74);
  --brand-accent-200: oklch(0.916 0.136 120.74);
  --brand-accent-300: oklch(0.849 0.16 120.74);
  --brand-accent-400: oklch(0.77 0.172 120.74);
  --brand-accent-500: oklch(0.686 0.172 120.74);
  --brand-accent-600: oklch(0.606 0.162 120.74);
  --brand-accent-700: oklch(0.539 0.142 120.74);
  --brand-accent-800: oklch(0.493 0.114 120.74);
  --brand-accent-900: oklch(0.475 0.078 120.74);
  --brand-accent: var(--brand-accent-400);

  /* shadcn */
  --radius: 0.65rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: var(--brand-main);
  --primary-foreground: oklch(0.98 0.016 73.684);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.75 0.183 55.934);
  --chart-1: oklch(0.837 0.128 66.29);
  --chart-2: oklch(0.705 0.213 47.604);
  --chart-3: oklch(0.646 0.222 41.116);
  --chart-4: oklch(0.553 0.195 38.402);
  --chart-5: oklch(0.47 0.157 37.304);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: var(--brand-main);
  --sidebar-primary-foreground: oklch(0.98 0.016 73.684);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.75 0.183 55.934);
}

.dark {
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.21 0.006 285.885);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.985 0 0);
  --primary: var(--brand-main);
  --primary-foreground: oklch(0.98 0.016 73.684);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.408 0.123 38.172);
  --chart-1: oklch(0.837 0.128 66.29);
  --chart-2: oklch(0.705 0.213 47.604);
  --chart-3: oklch(0.646 0.222 41.116);
  --chart-4: oklch(0.553 0.195 38.402);
  --chart-5: oklch(0.47 0.157 37.304);
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: var(--brand-main);
  --sidebar-primary-foreground: oklch(0.98 0.016 73.684);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.408 0.123 38.172);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .glass {
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(4px) saturate(180%);
    -webkit-backdrop-filter: blur(4px) saturate(180%);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow:
      0 4px 20px rgba(0, 0, 0, 0.1),
      inset 0 1px 1px rgba(255, 255, 255, 0.4);
  }
}
